<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'edit_todoList' todo_list_list.id %}">Edit</a>
        <a href="{% url 'todo_list_list'  %}">Main page</a>
        <a href="{% url 'delete_Todolist' todo_list_list.id %}">Delete</a>
      </nav>
    </header>
    <main>
      <div>
        <h1>{{ todo_list_list.name }}</h1>
        <table class="todolisttable">
          <thead>
            <h2>Tasks</h2>
            <tr>
              <th>Name</th>
              <th>Number of items</th>
            </tr>
          </thead>
          <tbody>
            {% for list in todo_list_list.items.all %}
              <tr>
                <td>
                  <a href="{% url 'todolist_update_item' todo_list_list.id %}">{{ list.task }}</a>
                </td>
                <td>{{ list.due_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
