<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
  </head>
  <body>
    <header>
      <nav>
      </nav>
    </header>
    <main>
      <h1>update items</h1>
      <div></div>
      <form method="post">
        {% csrf_token %}
        {{ post_form.as_p }}
        <button>Update</button>
      </div>
    </form>
  </main>
</body>
</html>
