<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'create_todo_list'  %}">Create</a>
    </nav>
    <main>
      <div>
        <h1>My Lists</h1>
        <table class="todolisttable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of items</th>
            </tr>
          </thead>
          <tbody>
            {% for list in to_do_list %}
              <tr>
                <td>
                  <a href="{% url 'show_todo_list' list.id %}">{{ list.name }}</a>
                </td>
                <td>{{  list.items.count  }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
